@model FifteenGame.Web.Models.GameViewModel

@{
    ViewBag.Title = "Крестики-нолики";
    bool isGameOver = (bool?)ViewBag.GameOver ?? false;
    string winner = ViewBag.Winner ?? "Ничья";
}

<main>
    <h2>Крестики-нолики</h2>

    @if (isGameOver)
    {
        <h2 class="text-danger">Игра завершена! Победитель: @winner</h2>
        <div>@Html.ActionLink("Начать заново", "Index", "Game", new { }, new { @class = "btn btn-primary fs-3" })</div>
    }

    <div class="container text-center">
        @for (int row = 0; row < Model.RowCount; row++)
        {
            <div class="row">
                @for (int column = 0; column < Model.ColumnCount; column++)
                {
                    <div class="col col-2 d-grid gap-2 p-2">
                        @if (Model.Cells[row, column].IsEmpty && !isGameOver)
                        {
                            <a href="@Url.Action("MakeMove", new { row = row, col = column })">
                                <img src="@Url.Content("~/Content/Images/empty.png")"
                                     style="width: 150px; height: 150px; margin: auto; display: block;" />
                            </a>
                        }
                        else
                        {
                            <img src="@Url.Content($"~/Content/Images/{Model.Cells[row, column].NumText}.png")"
                                 style="width: 150px; height: 150px; margin: auto; display: block;" />
                        }
                    </div>
                }
            </div>
        }
    </div>
</main>