@model WebHello.Models.CalculatorViewModel

@{
    ViewBag.Title = "Index";
}

<main>
    <h2>Калькулятор</h2>

    <div class="container">
        <div class="row m-2">
            <div class="col-12 display-3 bg-dark text-warning text-end p-3">
                @Model.DisplayValue
            </div>
        </div>

        <div class="row m-2">
            <div class="col-2 p-3">
                @Html.ActionLink("7", "PressDigit", new { digitString = "7", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3">
                @Html.ActionLink("8", "PressDigit", new { digitString = "8", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3">
                @Html.ActionLink("9", "PressDigit", new { digitString = "9", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3"></div>

            <div class="col-4 p-3">
                @Html.ActionLink("C", "PressClear", null, new { @class = "btn btn-primary d-grid display-4", })
            </div>
        </div>

        <div class="row m-2">
            <div class="col-2 p-3">
                @Html.ActionLink("4", "PressDigit", new { digitString = "4", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3">
                @Html.ActionLink("5", "PressDigit", new { digitString = "5", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3">
                @Html.ActionLink("6", "PressDigit", new { digitString = "6", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3"></div>

            <div class="col-2 p-3">
                @Html.ActionLink("+", "PressOperation", new { opCode = "+", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3">
                @Html.ActionLink("-", "PressOperation", new { opCode = "-", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>
        </div>

        <div class="row m-2">
            <div class="col-2 p-3">
                @Html.ActionLink("1", "PressDigit", new { digitString = "1", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3">
                @Html.ActionLink("2", "PressDigit", new { digitString = "2", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3">
                @Html.ActionLink("3", "PressDigit", new { digitString = "3", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3"></div>

            <div class="col-2 p-3">
                @Html.ActionLink("*", "PressOperation", new { opCode = "*", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-2 p-3">
                @Html.ActionLink("/", "PressOperation", new { opCode = "/", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>
        </div>

        <div class="row m-2">
            <div class="col-2 p-3">
                @Html.ActionLink("0", "PressDigit", new { digitString = "0", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>

            <div class="col-6 p-3"></div>

            <div class="col-4 p-3>
                @Html.ActionLink("=", "PressOperation", new { opCode = "=", }, new { @class = "btn btn-primary d-grid display-4", })
            </div>
        </div>
    </div>
</main>
