@model BlackjackMVC.Models.GameState

@{
    ViewData["Title"] = "BlackJack";
}

<h1>BlackJack (21)</h1>

<h3>Карты игрока</h3>

<h3>Статистика</h3>

<p>Побед: @ViewBag.Player.Wins</p>

<p>Поражений: @ViewBag.Player.Losses</p>

<hr />

@foreach (var card in Model.PlayerCards)
{
    <span style="font-size:30px;margin:5px;">
        @card.Rank@card.Suit
    </span>
}

<p>
    Очки:
    @Model.PlayerCards.Sum(c =>
    c.Rank == "A" ? 11 :
    c.Rank == "K" || c.Rank == "Q" || c.Rank == "J"
    ? 10 : int.Parse(c.Rank))
</p>

<hr>

<h3>Карты дилера</h3>

@foreach (var card in Model.DealerCards)
{
    <span style="font-size:30px;margin:5px;">
        @card.Rank@card.Suit
    </span>
}

<hr>

<h2>@Model.Message</h2>

<a class="btn btn-success"
   asp-action="Hit">
    Взять карту
</a>

<a class="btn btn-warning"
   asp-action="Stand">
    Хватит
</a>

<a class="btn btn-danger"
   asp-action="New">
    Новая игра
</a>